*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --clr-black: #273239;
    --clr-primary: #008181;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.4rem;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB",
        "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif, "Apple Color Emoji",
        "Segoe UI Emoji", "Segoe UI Symbol";
}

a {
    font-size: 1.6rem;
    text-decoration: none;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    transition: 0.2s color ease-in-out;
}

li {
    list-style: none;
}

input {
    width: 100%;
    color: #546e7a;
    border: 1px solid #cfd8dc;
    font-weight: 300;
    transition: 0.4s all;
}

input:focus,
textarea:focus,
select:focus {
    outline: none;
    box-shadow: 0 0 0.5rem #51cbee;
    border: 1px solid #51cbee;
}

.container {
    margin: 13rem auto 0;
    background-color: #fff;
    max-width: 140rem;
    padding: 0 3rem;
}
